*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
button {
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
button:hover,
button:focus {
  outline: none;
  outline-offset: -4px;
  border: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  outline: none;
  outline-offset: -4px;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Vesper Libre', serif;
  font-size: rem(16px);
  font-display: optional;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  background-color: #131313;
}

body,
a {
  color: white;
}
